
{{context-menu}}

<!--{#{drag-box}}-->

{{menu-buttons}}

<p id="lastRow" style="width:100%;text-align:center;font:0.9em monospace">Mish powered by NodeJS &bull; Express &bull; EmberJS<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
  <a onclick="window.scrollTo(0, 0);return false" style="font:2em monospace;opacity:0.66;border:1px solid #aef;border-radius:12px;padding:0.5em;cursor:pointer">↑ ↑ ↑ ↑ ↑ ↑</a>
<br> <br> <br> <br> <br> <br> <br> </p>
{{yield}}
