
{{context-menu}}

<!--{#{drag-box}}-->

{{menu-buttons}}

<p id="lastRow" style="width:100%;text-align:center;font:0.9em monospace">&mdash; &bull; Mish powered by NodeJS &bull; Express &bull; EmberJS &bull; &mdash; <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> </p>
{{yield}}
