
{{context-menu}}

<!--{#{drag-box}}-->

{{menu-buttons}}

<p id="lastRow" style="width:100%;text-align:center;font:0.9em monospace">Mish powered by NodeJS &bull; Express &bull; EmberJS<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> </p>
{{yield}}
