
{{context-menu}}

{{drag-box}}

<p id="title">
  <span class="proid">VIFO <small>based on NodeJS &bull; Express &bull; EmberJS</small></span><br>
  <span class="usrlg">START</span><!-- User information log -->
</p>

{{menu-buttons}}

<p style="text-align: center;font:bold 0.9em monospace">&mdash; &bull; VIFO &bull; &mdash;</p>

{{yield}}
